<div class="container details">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <%= image_tag 'details/details-sized.jpg' %>
      <h3>You're invited to our wedding on</h3>
      <p class="date">September 24, 2016</p>
      <h3 class="ceremony">Ceremony begins at 3:15pm</h3>
      <%= image_tag 'down-arrows.png', :class => 'point'  %>
      <section class="clearfix tips">
        <%= section("Tips") %>
        <ul>
          <li><i class="fa fa-female"></i>Attire is semiformal</li>
          <li><i class="fa fa-cloud"></i>Venue is all outdoors</li>
          <li><i class="fa fa-phone"></i>Cell service is limited</li>
        </ul>
        <ul>
          <li><i class="fa fa-glass"></i>Open bar</li>
          <li><i class="fa fa-moon-o"></i>Dancing will be had</li>
          <li><i class="fa fa-truck"></i>Plenty of parking</li>
        </ul>
      </section>
      <section class="venue" id="directions">
        <%= section("Venue") %>
        <p>
          <strong>Redwood Hill Gardens</strong><br>
          1188 Furlong Rd<br>
          Sebastopol, CA 95472<br>
          (707) 827-3148
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25014.559269325706!2d-122.92045242568736!3d38.39941287955064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8084253595682535%3A0xcf506f3f2f1b08d0!2sRedwood+Hill+Gardens!5e0!3m2!1sen!2sus!4v1451275242687" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </section>
      <section class="accommodations" id="accommodations">
        <%= section("Accommodations") %>
        <h3>Book early! Hotels fill up quickly in the wine country.</h3>
        <ul class="clearfix">
          <li>
            <strong><a href="http://www.marriott.com/hotels/travel/stsrs-fairfield-inn-and-suites-santa-rosa-sebastopol/" target="_blank">Fairfield Inn & Suites*</a></strong><br>
            15 minutes from venue<br>
            about $240-$300/night<br>
            2 night minimum<br>
          </li>
          <li>
            <strong><a href="http://hamptoninn3.hilton.com/en/hotels/california/hampton-inn-and-suites-rohnert-park-sonoma-county-STSRPHX/index.html" target="_blank">Hampton Inn & Suites*</a></strong><br>
            25 minutes from venue<br>
            about $215-$260/night<br>
            1 night minimum<br>
          </li>
          <li>
            <strong><a href="http://book.bestwestern.com/bestwestern/US/CA/Santa-Rosa-hotels/BEST-WESTERN-PLUS-Wine-Country-Inn---Suites/Hotel-Overview.do?propertyCode=05685" target="_blank">Best Western Wine Country</a></strong><br>
            25 minutes from venue<br>
            about $190-$240/night<br>
            1 night minimum<br>
          </li>
          <li>
            <strong>Numerous B&Bs</strong><br>
            from $90-$200/night<br>
            <a href="https://www.airbnb.com/s/Sebastopol--CA?checkin=09%2F24%2F2016&checkout=09%2F25%2F2016&guests=2&room_types%5B%5D=Entire+home%2Fapt&room_types%5B%5D=Private+room&price_max=213&zoom=11&search_by_map=true&sw_lat=38.24741840785763&sw_lng=-122.99380626654488&ne_lat=38.55985673864242&ne_lng=-122.64499034857613&ss_id=xaaaah18&s_tag=7MSfixrX" target="_blank">AirBnB</a>
          </li>

        </ul>
        <p>* Most guests will be staying at these hotels.</p>
      </section>
      <section class="todo" id="todo">
        <%= section("Things To Do") %>
        <ul>
          <li>
            <strong><a href="http://sonomahikingtrails.com/parks/annadel-state-park/" target="_blank">Hiking - Annadel State Park</a></strong><br>
            <p>Annadel is a well-maintained state park with trails for hiking, biking, and horseback riding.  Perfect for a pleasant day out in the sun.</p>
          </li>
          <li>
            <strong><a href="http://www.yelp.com/biz/russian-river-brewing-santa-rosa-2" target="_blank">Russian River Brewery</a></strong><br>
            <p>Birthplace of Elder of the Pliny, the Russian River Brewery is a great spot to enjoy some 20+ beers on tap.</p>
          </li>
          <li>
            <strong>Wineries</strong><br>
            <p>It's wine country!  There are hundreds of wineries across Santa Rosa and Napa Valley--most wineries will require you to book a tasting ahead of time.</p>
          </li>
          <li>
            <strong><a href="https://www.gratonresortcasino.com/" target="_blank">Casino</a></strong><br>
            <p>If you feel like a bit of games while in the area, the Graton Resort & Casino can provide an evening's entertainment with all the standard slot and table games.</p>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
